<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.equiworx.tutorhelper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="20" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

         <!--notification permission--> 
      <permission
        android:name="com.equiworx.tutorhelper.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
   <!-- Note: the above 2 permissions is not required on 4.1 or above. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.equiworx.tutorhelper.permission.C2D_MESSAGE" />
    <!-- Note: the above 2 permissions is not required on 4.1 or above. -->


    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    
    <!--notification permission--> 
       
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
      
<!--notification permission--> 
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.equiworx.tutorhelper" />
            </intent-filter>
        </receiver>
<!--notification permission--> 

        <service android:name="com.equiworx.tutorhelper.GCMIntentService" />
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.equiworx.tutorhelper.HomeAcitivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.equiworx.tutorhelper.LoginActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.equiworx.tutorhelper.RegisterActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name="com.equiworx.tutorhelper.ForgotPasswordActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"></activity>
        
        <activity android:name="com.equiworx.student.StudentDetailActivity"  android:windowSoftInputMode="stateHidden"  android:screenOrientation="portrait"></activity>   
        <activity android:name="com.equiworx.student.EditStudentActivity"   android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>   
        <activity android:name="com.equiworx.student.MyStudentActivity"   android:windowSoftInputMode="stateHidden"   android:screenOrientation="portrait"></activity>  
        <activity android:name="com.equiworx.student.AddStudent"  android:windowSoftInputMode="stateHidden"  android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light"></activity>
        <activity android:name="com.equiworx.student.AddParent"  android:windowSoftInputMode="stateHidden"  android:screenOrientation="portrait"></activity>
        <activity android:name="com.equiworx.student.MergeStudentActivity"  android:windowSoftInputMode="stateHidden"  android:screenOrientation="portrait"></activity>
        <activity android:name="com.equiworx.student.StudentHistoryActivity"  android:windowSoftInputMode="stateHidden"  android:screenOrientation="portrait"></activity>
        
        <activity android:name="com.equiworx.tutor.TutorDashboard" android:screenOrientation="portrait" android:theme="@style/AppBaseTheme"></activity>
        <activity android:name="com.equiworx.tutor.ParentListActivity"   android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
        <activity android:name="com.equiworx.tutor.ParentDetailActivity"   android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"></activity>
   		<activity android:name="com.equiworx.tutor.MyConnectionActivity"   android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="com.equiworx.tutor.TutorDetailActivity"  android:windowSoftInputMode="stateHidden"  android:screenOrientation="portrait"></activity> 
   		<activity android:name="com.equiworx.tutor.HistoryParentsActivity"  android:windowSoftInputMode="stateHidden"  android:screenOrientation="portrait"></activity>  
        <activity android:name="com.equiworx.tutor.HistoryDetails"  android:theme="@android:style/Theme.Light" android:windowSoftInputMode="stateHidden"  android:screenOrientation="portrait"></activity>  
   		<activity android:name="com.equiworx.tutor.CancellationActivity"  android:windowSoftInputMode="stateHidden"  android:screenOrientation="portrait"></activity>
   		 
   		<activity android:name="com.equiworx.lesson.AddLessonActivity"      android:launchMode="singleInstance" android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="com.equiworx.lesson.LessonRequestActivity"   android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
        <activity android:name="com.equiworx.lesson.StudentListActivity"   android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"  
             android:launchMode="singleInstance"></activity>
     	<activity android:name="com.equiworx.lesson.MyLessonActivity"   android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
     	<activity android:name="com.equiworx.lesson.LessonDetailsActivity"   android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"></activity>
       
       
        <activity android:name="com.equiworx.parent.MyProfileActivity"  android:windowSoftInputMode="stateHidden"  android:screenOrientation="portrait"></activity>   
        <activity android:name="com.equiworx.parent.ParentDashBoard"  android:screenOrientation="portrait"   android:theme="@style/AppBaseTheme"></activity>
        <activity android:name="com.equiworx.parent.ConnectionRequests" android:screenOrientation="portrait"></activity>
        <activity android:name="com.equiworx.student.StudentRequestActivity" android:screenOrientation="portrait"></activity> 
        <activity android:name="com.equiworx.parent.ParentMerge_Activity" android:screenOrientation="portrait"></activity>
         <activity android:name="com.equiworx.parent.InvoiceActivity" android:screenOrientation="portrait"></activity>
        
         <activity android:name="com.equiworx.notification.NotificationParentActivity"   android:theme="@android:style/Theme.Dialog" android:screenOrientation="portrait"></activity>
         
         <activity android:name="com.equiworx.notification.NotificationTutorActivity"  android:theme="@android:style/Theme.Dialog" android:screenOrientation="portrait"></activity> 
       
         
     <activity android:name="com.equiworx.tutor.AddCreditsActivity"  android:windowSoftInputMode="stateHidden"  android:theme="@style/AppTheme1" android:screenOrientation="portrait"></activity> 
     <activity android:name="com.equiworx.lesson.PaymentdetailsActivity"  android:windowSoftInputMode="stateHidden"  android:theme="@style/AppTheme1" android:screenOrientation="portrait"></activity>
      <activity android:name="com.equiworx.lesson.Payment_Activity" android:windowSoftInputMode="stateHidden"   android:theme="@style/AppTheme1" android:screenOrientation="portrait"></activity> 
     
     
     <activity android:name="com.equiworx.tutor.MakePayment_SelectParentActivity"   android:windowSoftInputMode="stateHidden" android:theme="@android:style/Theme.Light" android:screenOrientation="portrait"></activity>
      <activity android:name="com.equiworx.tutor.Payment_LessonsDetailsActivity"   android:windowSoftInputMode="stateHidden" android:theme="@android:style/Theme.Light" android:screenOrientation="portrait"></activity>
       <activity android:name="com.equiworx.tutor.Payment_FulllessonDetialsActivity"  android:windowSoftInputMode="stateHidden"  android:theme="@android:style/Theme.Light" android:screenOrientation="portrait"></activity>
       <activity android:name="com.equiworx.tutor.NewsFeedActivity"   android:windowSoftInputMode="stateHidden" android:theme="@android:style/Theme.Light" android:screenOrientation="portrait"></activity>
        <activity android:name="com.equiworx.parent.TutorCalenderView"   android:windowSoftInputMode="stateHidden" 
            android:theme="@android:style/Theme.Light" android:screenOrientation="portrait"></activity>  
        <activity android:name="com.equiworx.tutor.StatementActivity"   android:windowSoftInputMode="stateHidden" 
          android:theme="@android:style/Theme.Holo.Light" android:screenOrientation="portrait"/>  
           <activity android:name="com.equiworx.tutor.PdfGenerateActivity"   android:windowSoftInputMode="stateHidden" 
          android:theme="@android:style/Theme.Holo.Light" android:screenOrientation="portrait"/> 
            <activity android:name="com.equiworx.tutor.InvoiceActivity"   android:windowSoftInputMode="stateHidden" 
          android:theme="@android:style/Theme.Holo.Light" android:screenOrientation="portrait"/>  
        <!-- Broadcast receiver -->
        <receiver   android:name=".AlarmManagerBroadcastReceiver"></receiver>
         </application>

    <supports-screens android:normalScreens="true"
        android:largeScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"
        android:resizeable="true" 
        android:anyDensity="true"/>
</manifest>
